---
Language: Cpp
# 基于 LLVM 的代码风格
BasedOnStyle: LLVM
# 访问说明符的偏移（public/private/protected）
AccessModifierOffset: -2
# 括号换行样式
BreakBeforeBraces: Linux
# 对齐连续的赋值操作符
AlignConsecutiveAssignments: true
# 对齐连续的声明
AlignConsecutiveDeclarations: true
# 允许函数声明的所有参数在放在下一行
AllowAllParametersOfDeclarationOnNextLine: true
# 允许短的块放在同一行
AllowShortBlocksOnASingleLine: Empty
# 允许短的case标签放在同一行
AllowShortCaseLabelsOnASingleLine: false
# 允许短的函数放在同一行
AllowShortFunctionsOnASingleLine: Inline
# 允许短的if语句保持在同一行
AllowShortIfStatementsOnASingleLine: Never
# 允许短的循环保持在同一行
AllowShortLoopsOnASingleLine: false
# 总是在template声明后换行
AlwaysBreakTemplateDeclarations: Yes
# 函数调用时，如果参数不能适合同一行，则将每个参数放在新行上
BinPackArguments: false
# 函数声明时，如果参数不能适合同一行，则将每个参数放在新行上
BinPackParameters: false
# 在二元运算符前换行
BreakBeforeBinaryOperators: NonAssignment
# 在三元运算符前换行
BreakBeforeTernaryOperators: true
# 构造函数初始化列表换行样式
BreakConstructorInitializers: BeforeColon
# 继承列表换行样式
BreakInheritanceList: BeforeColon
# 每行字符的限制，0表示没有限制
ColumnLimit: 100
# 构造函数的初始化列表的缩进宽度
ConstructorInitializerIndentWidth: 4
# 延续的行的缩进宽度
ContinuationIndentWidth: 4
# 指针和引用的对齐方式
PointerAlignment: Left
# 缩进宽度
IndentWidth: 2
# 连续空行的最大数量
MaxEmptyLinesToKeep: 1
# 命名空间的缩进
NamespaceIndentation: None
# 括号后的空格
SpaceAfterCStyleCast: false
# 在逻辑非操作符(!)之后插入空格
SpaceAfterLogicalNot: false
# 在模板关键字后插入空格
SpaceAfterTemplateKeyword: true
# 在赋值运算符之前添加空格
SpaceBeforeAssignmentOperators: true
# 在C++11大括号列表之前添加空格
SpaceBeforeCpp11BracedList: false
# 在构造函数冒号之前添加空格
SpaceBeforeCtorInitializerColon: true
# 在继承冒号之前添加空格
SpaceBeforeInheritanceColon: true
# 在控制语句的括号之前添加空格
SpaceBeforeParens: ControlStatements
# 在范围for循环冒号之前添加空格
SpaceBeforeRangeBasedForLoopColon: true
# 在空的圆括号中添加空格
SpaceInEmptyParentheses: false
# 在尾随的注释前添加的空格数(只适用于//)
SpacesBeforeTrailingComments: 2
# 在尖括号的<后和>前添加空格
SpacesInAngles: false
# 在容器字面量中添加空格
SpacesInContainerLiterals: false
# 在C风格类型转换的括号中添加空格
SpacesInCStyleCastParentheses: false
# 在圆括号的(后和)前添加空格
SpacesInParentheses: false
# 在方括号的[后和]前添加空格，lamda表达式和未指明大小的数组的声明不受影响
SpacesInSquareBrackets: false
# 标准: 最新的C++标准
Standard: Latest
# Tab宽度
TabWidth: 2
# 使用Tab字符: 不使用
UseTab: Never